/* Common */

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/image/background.png");
  background-size: cover;
  background-position: center;
  color: #0f0f0f;
  font-family: "Montserrat", sans-serif;
}

/* Categories */

.categories-wrapper,
.leisure-wrapper,
.education-wrapper,
.health-wrapper,
.shop-wrapper,
.gift-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.leisure-wrapper h4,
.education-wrapper h4,
.health-wrapper h4,
.shop-wrapper h4,
.gift-wrapper h4 {
  text-align: center;
  margin: 0 auto 30px;
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s linear;
}

h2,
h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s linear;
}

.big-headers {
  transform: translateY(-200%);
}

.little-headers {
  transform: translateX(200%);
}

h4 {
  font-size: 42px;
  margin: 10px auto;
}

.last-header {
  margin-bottom: 80px;
}

.categories,
.leisure,
.education,
.health,
.shop {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  justify-content: center;
  align-content: center;
  margin: 0 auto 30px;
}

.leisure {
  grid-template-columns: repeat(4, 1fr);
}

.education,
.shop {
  grid-template-columns: repeat(2, 1fr);
}

.health {
  grid-template-columns: repeat(3, 1fr);
}

button {
  display: inline-block;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  border: 5px solid #0f0f0f;
  font-size: 28px;
  background-color: #ffd200;
  transition: 0.3s linear;
  cursor: pointer;
}

button:hover {
  color: #ffd200;
  background-color: #0f0f0f;
}

.hidden {
  display: none;
}

/* Media */

@media (max-width: 1680px) {
  h2 {
    font-size: 48px;
  }

  h4 {
    font-size: 32px;
  }

  .leisure-wrapper h4,
  .education-wrapper h4,
  .health-wrapper h4,
  .shop-wrapper h4,
  .gift-wrapper h4 {
    font-size: 38px;
  }

  button {
    font-size: 20px;
  }

  .categories {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  button {
    width: 230px;
    height: 70px;
  }

  .leisure {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .last-header {
    margin-bottom: 50px;
  }

  .categories {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .health {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  h2 {
    font-size: 32px;
    margin: 10px auto;
  }

  h4 {
    font-size: 24px;
    margin: 10px auto;
  }

  .leisure-wrapper h4,
  .education-wrapper h4,
  .health-wrapper h4,
  .shop-wrapper h4,
  .gift-wrapper h4 {
    font-size: 24px;
  }

  .last-header {
    margin-bottom: 30px;
  }

  .categories {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .leisure {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .health {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .education,
  .shop {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  button {
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
    margin: 5px auto;
  }

  .leisure-wrapper h4,
  .education-wrapper h4,
  .health-wrapper h4,
  .shop-wrapper h4,
  .gift-wrapper h4 {
    font-size: 20px;
  }

  button {
    width: 180px;
    height: 60px;
    font-size: 14px;
  }
}
